<div class="wrapper">
	<div class="header header-filter" style="background-image: url('assets/img/examples/city.jpg');"></div>

	<div class="main main-raised">
		<div class="profile-content">
			<div class="container">
				<div class="row">

					<div class="section">
						<div class="row">
							<div class="col-md-8">
								<h2 class="title Hairline">Our Vision</h2>
								<p><strong>Peace</strong> and <strong>fulfilment</strong> of humankind's potential. To</p>
								<p> achieve this we seek to engage and empower every young person.</p>
							</div>
							<div class="col-md-offset-8">
								<iframe class="box-shadow-wide" width="460" height="215" src="https://www.youtube.com/embed/IDJQOJCFPng" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="blueBg bgSection3b">
				<br>
				<div class="col-md-1">
					<iframe class="box-shadow-wide" width="560" height="315" src="https://www.youtube.com/embed/JtfpuAmgSy8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div class="col-md-offset-8 white">
					<h1>1,000,000+</h1>
					<p>USERS WORLDWIDE</p>
				</div>
				<div class="col-md-offset-8 white">
					<h1>2,400</h1>
					<p>UNIVERSITIES REPRESENTED</p>
				</div>
				<div class="col-md-offset-8 white">
					<h1>2,400</h1>
					<p>UNIVERSITIES REPRESENTED</p>
				</div>
			</div>
		</div>

	</div>