<div class="wrapper">
	<div class="header header-filter" style="background-image: url('assets/img/examples/city.jpg');"></div>

	<div class="main main-raised">
		<div class="profile-content">
			<div class="container">
				<div class="row">

					<div class="section">
						<div class="row">
							<div class="col-md-8">
								<h2 class="title Hairline">Our Vision</h2>
								<p><strong>Peace</strong> and <strong>fulfilment</strong> of humankind's potential. To</p>
								<p> achieve this we seek to engage and empower every young person.</p>
							</div>
							<div class="col-md-offset-8">
								<iframe class="box-shadow-wide" width="460" height="215" src="https://www.youtube.com/embed/IDJQOJCFPng" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="blueBg bgSection3b">
				<br>
				<div class="col-md-1">
					<iframe class="box-shadow-wide" width="560" height="315" src="https://www.youtube.com/embed/JtfpuAmgSy8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div class="col-md-offset-8 white">
					<h1>1,000,000+</h1>
					<p>USERS WORLDWIDE</p>
				</div>
				<div class="col-md-offset-8 white">
					<h1>2,400</h1>
					<p>UNIVERSITIES REPRESENTED</p>
				</div>
				<div class="col-md-offset-8 white">
					<h1>2,400</h1>
					<p>UNIVERSITIES REPRESENTED</p>
				</div>
			</div>
		</div>
		<br>
		<div class="section text-center">
			<div class="row">
				<div class="col-md-5 col-md-offset-4">
					<h2>Why Do We Do It?</h2>
					<p>Our projects exist because we shape everything we do around what the world needs. And we have committed to creating a youth movement to achieve the 17 Sustainable Development Goals by the year 2030.</p>
					<a href="https://auth.aiesec.org/users/sign_in"><button class="btn btn-info">Register</button></a>
				</div>
			</div>
		</div>

		<div class="section border">
			<div class="container text-center">

				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-primary">
							<img src="assets\img\sdgs\1-No-Poverty.gif" alt="Thumbnail Image" class="img-rounded img-responsive dm">
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-primary">
							<img src="assets\img\sdgs\2-Zero-Hunger-s.gif" alt="Thumbnail Image" class="img-rounded img-responsive dm">
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-primary">
							<img src="assets\img\sdgs\3-Good-Health-and-Well-being.gif" alt="Thumbnail Image" class="img-rounded img-responsive dm">
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-primary">
							<img src="assets\img\sdgs\4-Quality-Education.gif" alt="Thumbnail Image" class="img-rounded img-responsive dm">
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-primary">
							<img src="assets\img\sdgs\5-Gender-Equality.gif" alt="Thumbnail Image" class="img-rounded img-responsive dm">
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-primary">
							<img src="assets\img\sdgs\6-Clean-Water-and-Sanitation.gif" alt="Thumbnail Image" class="img-rounded img-responsive dm">
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-primary">
							<img src="assets\img\sdgs\7-Afforable-and-Clean-Energy-s.gif" alt="Thumbnail Image" class="img-rounded img-responsive dm">
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-primary">
							<img src="assets\img\sdgs\8-Decent-Work-and-Economic-Growth.gif" alt="Thumbnail Image" class="img-rounded img-responsive dm">
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-primary">
							<img src="assets\img\sdgs\9-Industry-2.gif" alt="Thumbnail Image" class="img-rounded img-responsive dm">
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-primary">
							<img src="assets\img\sdgs\10-Reduced-Inequalities.gif" alt="Thumbnail Image" class="img-rounded img-responsive dm">
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-primary">
							<img src="assets\img\sdgs\11-Sustainable-Cities.gif" alt="Thumbnail Image" class="img-rounded img-responsive dm">
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-primary">
							<img src="assets\img\sdgs\12-Responsible-Consumption.gif" alt="Thumbnail Image" class="img-rounded img-responsive dm">
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-primary">
							<img src="assets\img\sdgs\13-Climate-Action.gif" alt="Thumbnail Image" class="img-rounded img-responsive dm">
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-primary">
							<img src="assets\img\sdgs\14-Life-Below-Water.gif" alt="Thumbnail Image" class="img-rounded img-responsive dm">
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-primary">
							<img src="assets\img\sdgs\15-Life-on-Land.gif" alt="Thumbnail Image" class="img-rounded img-responsive dm">
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-primary">
							<img src="assets\img\sdgs\16-Peace.gif" alt="Thumbnail Image" class="img-rounded img-responsive dm">
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="info">
						<div class="icon icon-primary">
							<img src="assets\img\sdgs\17-Partnership.gif" alt="Thumbnail Image" class="img-rounded img-responsive dm">
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>