<div class="wrapper">
  <div class="header header-filter" style="background-image: url('assets/img/examples/city.jpg');"></div>
    <div class="main main-raised">
      <div class="profile-content">
        <div class="container">
            <div class="section text-center section-landing">
                    <div class="row border">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="title">What is AIESEC</h2>
                            <h5 class="description what">AIESEC is a global youth-led organisation striving to achieve peace and fulfillment of humankind’s potential. Together with partner organisations, AIESEC facilitates cross-cultural exchanges in the form of volunteering experiences & professional internships.</h5>
                        </div>

                        <div class="two_thirds video">
                            <p><iframe width="640" height="360" src="https://www.youtube.com/embed/IDJQOJCFPng?feature=oembed" frameborder="0" allowfullscreen=""></iframe></p>
                        </div>
                        <div class="stats">
                            <h1 class="title blue">1,000,000+</h1>
                            <h6 class="section-title bl closer">USERS WORLDWIDE</h6>
                            <h1 class="title blue">2,400</h1>
                            <h6 class="section-title bl closer">UNIVERSITIES REPRESENTED</h6>
                            <h1 class="title blue">127</h1>
                            <h6 class="section-title bl closer">COUNTRIES AND TERRITORIES</h6>
                        </div>
                    </div>
            </div>
            </div>       
    	</div>
  </div>
</div>
