<div class="wrapper">
	<div class="header header-filter" style="background-image: url('assets/img/cities/morocco.png');"></div>

	<div class="main main-raised">
		<div class="profile-content">
			<div class="section">
				<div class="row text-center">



					<div class="col-md-4">
						<div class="square-card">
							<a alt="square card">
								<div class="card-header casa">
									<div class="card-header_overlay">
										<span class="pill">Casablanca</span>
									</div>
								</div>
								<div class="card-title">
									<h4><i class="material-icons">email</i>yassine.ghammad@aiesec.net</h4>
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="square-card">
							<a alt="square card">
								<div class="card-header rabat">
									<div class="card-header_overlay">
										<span class="pill">Rabat</span>
									</div>
								</div>
								<div class="card-title">
									<h4><i class="material-icons">email</i>hiba.afkinich@aiesec.net</h4>
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="square-card">
							<a alt="square card">
								<div class="card-header tangier">
									<div class="card-header_overlay">
										<span class="pill">Tangier</span>
									</div>
								</div>
								<div class="card-title">
									<h4><i class="material-icons">email</i>Oulaya.sabri@aiesec.net</h4>
								</div>
							</a>
						</div>
					</div>

				</div>

				<br><br><br><br>
				<div class="row text-center">

					<div class="col-md-4">
						<div class="square-card">
							<a alt="square card">
								<div class="card-header ifrane">
									<div class="card-header_overlay">
										<span class="pill">Ifrane</span>
									</div>
								</div>
								<div class="card-title">
									<h4><i class="material-icons">email</i>**********@aiesec.net</h4>
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="square-card">
							<a alt="square card">
								<div class="card-header fez">
									<div class="card-header_overlay">
										<span class="pill">Fez</span>
									</div>
								</div>
								<div class="card-title">
									<h4><i class="material-icons">email</i>amine.arous@aiesec.net</h4>
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="square-card">
							<a alt="square card">
								<div class="card-header eljadida">
									<div class="card-header_overlay">
										<span class="pill">Eljadida</span>
									</div>
								</div>
								<div class="card-title">
									<h4><i class="material-icons">email</i>**********@aiesec.net</h4>
								</div>
							</a>
						</div>
					</div>

				</div>

				<br><br><br><br>
				<div class="row text-center">

					<div class="col-md-4">
						<div class="square-card">
							<a alt="square card">
								<div class="card-header oujda">
									<div class="card-header_overlay">
										<span class="pill">Oujda</span>
									</div>
								</div>
								<div class="card-title">
									<h4><i class="material-icons">email</i>Elhartii.ali@gmail.com </h4>
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="square-card">
							<a alt="square card">
								<div class="card-header agadir">
									<div class="card-header_overlay">
										<span class="pill">Agadir</span>
									</div>
								</div>
								<div class="card-title">
									<h4><i class="material-icons">email</i>mounia.nazih@aiesec.net</h4>
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="square-card">
							<a alt="square card">
								<div class="card-header marrakech">
									<div class="card-header_overlay">
										<span class="pill">Marrakech</span>
									</div>
								</div>
								<div class="card-title">
									<h4><i class="material-icons">email</i>ismail.laparde@aiesec.net</h4>
								</div>
							</a>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

</div>