<head>
  <link href="assets/css/rotating-card.css" rel="stylesheet">
</head>
<div class="wrapper">
  <div class="header header-filter" style="background-image: url('assets/img/bg/faq.png');"></div>

  <div class="main main-raised">

    <div class="section">
      <div class="container">
        <div class="row">

          <div class="col-sm-4">
            <div class="card-container bgblue">
              <div class="card">
                <div class="front">
                  <div class="content">
                    <div class="main">
                      <h2 class="text-center regular">What’s AIESEC?</h2>
                    </div>
                    <div class="footer">
                      <i class="fa fa-mail-forward"></i>
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <h5 class="text-center Hairline">What’s AIESEC?</h5><br/>
                      <h4 class="text-center regular">AIESEC is an entirely youth-led not-for-profit organisation present in over 125 countries and territories, and active since 1948.We provide young people with the opportunity to grow and learn in an exciting new environment, undertaking enriching cross-cultural experiences while having a positive impact on world and developing relevant skills for their future careers.	</h4>
                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
              <!-- end card -->
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card-container bgblue">
              <div class="card">
                <div class="front">
                  <div class="content">
                    <div class="main">
                      <h2 class="text-center regular">What is AIESEC’s goal?</h2>
                    </div>
                    <div class="footer">
                      <i class="fa fa-mail-forward"></i>
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <h5 class="text-center Hairline">What is AIESEC’s goal?</h5><br/>
                      <h4 class="text-center regular">AIESEC aims to develop leadership qualities in every young person around the world,  because to make a change in this world,  you need to be a decision maker, you can become that way,  if you have a developed leader inside you, which can only happen through putting yourself into challenging environment and to be open to the world and this is exactly what we do in AIESEC we provide exchange programs that enable people to discover and boost their potential.</h4>
                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
              <!-- end card -->
            </div>
          </div>


          <div class="col-sm-4">
            <div class="card-container bgblue">
              <div class="card">
                <div class="front">
                  <div class="content">
                    <div class="main">
                      <h2 class="text-center regular">Do I need to become a member of AIESEC to apply for an exchange?</h2>
                    </div>
                    <div class="footer">
                      <i class="fa fa-mail-forward"></i>
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <h5 class="text-center Hairline">Do I need to become a member of AIESEC to apply for an exchange?</h5><br/>
                      <h4 class="text-center regular">No, you do not have to become a member of AIESEC to go on an internship. However, being a member while applying for the exchange is more beneficial for you as a candidate, as you will understand the internal processes and projects of the organisation and even develop your contact network with the countries you are planning on going to.</h4>
                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
              <!-- end card -->
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card-container bgred">
              <div class="card">
                <div class="front">
                  <div class="content">
                    <div class="main">
                      <h2 class="text-center regular">Do I need to cover my own insurance, visa and flight tickets?</h2>
                    </div>
                    <div class="footer">
                      <i class="fa fa-mail-forward"></i>
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <h5 class="text-center Hairline">Do I need to cover my own insurance, visa and flight tickets?</h5><br/>
                      <h4 class="text-center regular">Yes, you are responsible of obtaining your own flight tickets. Being insured is a requirement for going abroad with AIESEC, thus you will be responsible of getting an insurance prior going abroad for the whole duration of your exchange. AIESEC will assist you with obtaining your visa, however it is your responsibility to obtain the visa and pay for it on your own.</h4>
                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
              <!-- end card -->
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card-container bgred">
              <div class="card">
                <div class="front">
                  <div class="content">
                    <div class="main">
                      <h2 class="text-center regular">What support will AIESEC give me during my internship?</h2>
                    </div>
                    <div class="footer">
                      <i class="fa fa-mail-forward"></i>
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <h5 class="text-center Hairline">What support will AIESEC give me during my internship?</h5><br/>
                      <h4 class="text-center regular"><ul>
                        <li> Support in the opportunity search</li>
                        <li>Support in the cultural preparation for the exchange</li>
                        <li>AIESEC representative will assist you throughout the duration of your exchange</li>
                        <li>Reception activities and social integration into the organisation in the country of your destination</li>
                      </ul> </h4>
                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
              <!-- end card -->
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card-container bgred">
              <div class="card">
                <div class="front">
                  <div class="content">
                    <div class="main">
                      <h2 class="text-center regular">How to sign up ?</h2>
                    </div>
                    <div class="footer">
                      <i class="fa fa-mail-forward"></i>
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <h5 class="text-center Hairline">How to sign up ?</h5><br/>
                      <h4 class="text-center regular">In order to benefit from AIESEC opportunities , all you have to do is build your profile on the AIESEC Opportunities Portal www.aiesec.org and we can start matching you with opportunities.Filter search results to find the perfect opportunity in the perfect location for you.Once we find a match, we can start the process of putting things in place for your volunteer/internship experience.</h4>
                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
              <!-- end card -->
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card-container bggre">
              <div class="card">
                <div class="front">
                  <div class="content">
                    <div class="main">
                      <h2 class="text-center regular">What are your exchange programs?</h2>
                    </div>
                    <div class="footer">
                      <i class="fa fa-mail-forward"></i>
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <h5 class="text-center Hairline">What are your exchange programs?</h5><br/>
                      <h4 class="text-center regular">Global volunteer program (GV): Work with  NGOs projects based on SDGs from 6 up 12 weeks, generally food and accommodation are provided by AIESEC or NGO. This program exchange fee is 1500 dh.<br/>Global Talent (GT) is a professional internship in companies from 6 to 72 weeks, it is paid. This program exchange fee is 2500 dh.<br>Global Entrepreneur (GE) is professional internship in a startup from 6 to 12, it is paid. This program exchange fee is 2500dh.</h4>
                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
              <!-- end card -->
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card-container bggre">
              <div class="card">
                <div class="front">
                  <div class="content">
                    <div class="main">
                      <h2 class="text-center regular">How can I be a member in AIESEC?</h2>
                    </div>
                    <div class="footer">
                      <i class="fa fa-mail-forward"></i>
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <h5 class="text-center Hairline">How can I be a member in AIESEC?</h5><br/>
                      <h4 class="text-center regular">In order to be a member, you will have to wait for our recruitment which mostly happens in February or September. To be updated with all our agenda, news, opportunities and recruitment waves on different cities in Morocco you can click on follow and see first!	</h4>
                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
              <!-- end card -->
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card-container bggre">
              <div class="card">
                <div class="front">
                  <div class="content">
                    <div class="main">
                      <h2 class="text-center regular">Is there any specific time for applying?</h2>
                    </div>
                    <div class="footer">
                      <i class="fa fa-mail-forward"></i>
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <h5 class="text-center Hairline">Is there any specific time for applying?</h5><br/>
                      <h4 class="text-center regular">There's actually not a specific time set by the organisation but for each opportunity there’s a deadline, and also if it depends on your peak preference you will have to manage your time and availability to match with the deadlines of that opportunity like let’s suppose you want to go in this winter for Europe you will need to start looking for opportunities from now!</h4>
                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
              <!-- end card -->
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card-container bgyel">
              <div class="card">
                <div class="front">
                  <div class="content">
                    <div class="main">
                      <h2 class="text-center regular">Where is your office?</h2>
                    </div>
                    <div class="footer">
                      <i class="fa fa-mail-forward"></i>
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <h5 class="text-center Hairline">Where is your office?</h5><br/>
                      <h4 class="text-center regular">Our office is only open to members and executive board for meetings and else but our operations with exchange participants and externals are only based online you can ask us whatever you want here or you can still visit our website aiesec.org</h4>
                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
              <!-- end card -->
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card-container bgyel">
              <div class="card">
                <div class="front">
                  <div class="content">
                    <div class="main">
                      <h2 class="text-center regular">what is the age limit for this program?</h2>
                    </div>
                    <div class="footer">
                      <i class="fa fa-mail-forward"></i>
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <h5 class="text-center Hairline">what is the age limit for this program?</h5><br/>
                      <h4 class="text-center regular">You must a student between the age of 18-30</h4>
                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
              <!-- end card -->
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

</div>