<div _ngcontent-c3="" class="section landing-section">
        <div _ngcontent-c3="" class="container">
            <div _ngcontent-c3="" class="row">
                <div _ngcontent-c3="" class="col-md-8 mr-auto ml-auto">
                    <h2 _ngcontent-c3="" class="text-center">Keep in touch?</h2>
                    <form _ngcontent-c3="" class="contact-form ng-untouched ng-pristine ng-valid" novalidate="">
                        <div _ngcontent-c3="" class="row">
                            <div _ngcontent-c3="" class="col-md-6">
                                <label _ngcontent-c3="">Name</label>
                                <div _ngcontent-c3="" class="input-group">
                                    <span _ngcontent-c3="" class="input-group-addon">
                                        <i _ngcontent-c3="" class="nc-icon nc-single-02"></i>
                                    </span>
                                    <input _ngcontent-c3="" class="form-control" placeholder="Name" type="text">
                                </div>
                            </div>
                            <div _ngcontent-c3="" class="col-md-6">
                                <label _ngcontent-c3="">Email</label>
                                <div _ngcontent-c3="" class="input-group">
                                    <span _ngcontent-c3="" class="input-group-addon">
                                        <i _ngcontent-c3="" class="nc-icon nc-email-85"></i>
                                    </span>
                                    <input _ngcontent-c3="" class="form-control" placeholder="Email" type="text">
                                </div>
                            </div>
                        </div>
                        <label _ngcontent-c3="">Message</label>
                        <textarea _ngcontent-c3="" class="form-control" placeholder="Tell us your thoughts and feelings..." rows="4"></textarea>
                        <div _ngcontent-c3="" class="row">
                            <div _ngcontent-c3="" class="col-md-4 mr-auto ml-auto">
                                <button _ngcontent-c3="" class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
