<div>
<button ng-click='order="name"'>order by name</button>
<button ng-click='order="age"'>order by age</button>
</div>
<input type="text" ng-model='search' placeholder="Search...">
<div>
  Hide: <input type="checkbox" ng-model="toHide" ng-checked='toHide'>
</div>
<ul>
  <li ng-repeat='x in person|filter:search|orderBy:order' ng-hide='toHide' style='color:{{x.color}}' >{{x.name|uppercase}}
  <span style='color:red;font-size:1.5em;margin-left:2cm' ng-click='del(x)'>X</span>
</li>
</ul>

<form ng-submit='addnew()'>
  <br>
  <input type="text" ng-model="new.name" placeholder="name"><br>
  <input type="text" ng-model="new.age" placeholder="age"><br>
  <input type="text" ng-model="new.color" placeholder="color"><br>
  <input type="submit" value="addNew">
</form>
