<div class="container">
<!--         what is row -->
            <div class="row tim-row">
                <h2 class="text-center">What is AIESEC?</h2>
                <legend></legend>
                <div class="col-md-8 col-md-offset-2">
                    <p>
                    AIESEC is a global youth-led organisation striving to achieve peace and fulfillment of humankind’s potential. Together with partner organisations, AIESEC facilitates cross-cultural exchanges in the form of volunteering experiences & professional internships.
                    </p>

                </div>

            </div>
<!--         end row -->
</div>
